.projekte {
    margin: 200px 100px;
}

.projektGrid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.projektGrid a {
    text-decoration: none;
}

.project {
    background-color: rgb(38, 90, 92);
    aspect-ratio: 1/1;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.stackMap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.displayToggleDiv:hover .project {
    display: none;
}

.displayToggleDiv {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: transform 250ms;
}

.displayToggleDiv:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.displayToggleDiv img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
    display: none;
    padding: 5px;
}

.displayToggleDiv:hover img {
    display: block;
}

.projektGrid .project h3,
.projektGrid .project p {
    color: white;
    text-align: center;
}

.projektGrid .project h3 {
    font-size: 3rem;
}

@media only screen and (max-width: 991px) {
    .projektGrid .project h3 {
        font-size: 2rem;
    }

    .project {
        justify-content: center;
    }

    .stackMap {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .projekte h2 {
        font-size: 4rem;
        text-align: center;
    }

    .projekte {
        margin: 100px 20px;
    }

    .projektGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media only screen and (max-width:350px) {
    .projektGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .projekte {
        margin: 200px 250px;
    }
}