.about {
    margin: 200px 100px 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 150px 150px 100px;
    border-top: 3px solid #265A5C;
    border-right: 3px solid #265A5C;
    border-bottom: 3px solid #265A5C;
}

.about h2 {
    padding: 0;
    text-align: right;
}

.about p {
    font-size: 1.6rem;
    margin: 10px 0;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.social {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 10px;
}

.social a {
    border: 2px solid white;
    padding-right: 10px;
    transition: 350ms;
}

.social a:hover {
    transform: scale(1.2)
}

@media only screen and (max-width: 767px) {
    .about {
        margin: 100px 100px 100px 0;
        padding: 100px 50px;
        flex-direction: column;
    }

    .about h2 {
        font-size: 4rem;
        text-align: center;
    }

    .about p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 575px) {
    .about {
        margin: 100px 50px 100px 0;
        padding: 100px 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .about {
        margin: 200px 150px 200px 0;
        padding: 150px 150px 150px 250px;
    }
}

@media only screen and (min-width: 1300px) {
    .techstack {
        margin: 200px 250px 200px 0;
        padding: 150px 150px 150px 350px;
    }
}