.projectHero {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.projectHero img {
    width: 70%;
}

.projectDescription {
    margin: 50px 150px;
}

.projectLinks {
    margin: 50px 0;
    display: flex;
    gap: 20px;
}

.projectLinks a {
    color: white;
    background-color: #113c4a;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #113c4a;
    font-size: 14px;
    text-decoration: none;
}

.projectLinks a:hover {
    color: #113c4a;
    background-color: white;
    border: 2px solid #113c4a;
}

.projectLinks a:active {
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 150px;
    gap: 30px;
}

.imageGridimg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

.version2Section {
    margin: 0 150px;
}

@media only screen and (max-width:991px) {

    .projectDescription,
    .projectGrid {
        margin: 50px 100px 150px 100px;
    }

    .version2Section {
        margin: 50px 100px;
    }

    .projectGrid {
        gap: 30px;
    }

    .imageGridimg {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {

    .projectDescription,
    .projectGrid {
        margin: 50px 50px 100px 50px;
    }

    .version2Section {
        margin: 50px 50px 100px 50px;
    }

    .version2Section h2 {
        font-size: 4rem;
    }

}

@media only screen and (min-width: 1200px) {

    .projectHero,
    .projectDescription,
    .projectGrid,
    .version2Section {
        margin: 100px 250px;
    }

    .projectGrid {
        gap: 50px;
    }
}

@media only screen and (min-width: 1300px) {

    .projectHero,
    .projectDescription,
    .projectGrid,
    .version2Section {
        margin: 100px 350px;
    }
}