footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 200px;
    padding: 20px 200px 20px 150px;
    border-top: 3px solid #265A5C;
    border-left: 3px solid #265A5C;
    border-bottom: 3px solid #265A5C;
}