footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 200px;
    padding: 20px 200px 20px 150px;
    border-top: 3px solid #265A5C;
    border-left: 3px solid #265A5C;
    border-bottom: 3px solid #265A5C;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #265A5C;
}

@media only screen and (max-width: 991px) {
    footer ul {
        margin: 50px 0 50px 100px;
        padding: 20px 100px 20px 50px;
    }
}

@media only screen and (max-width: 767px) {
    footer ul {
        flex-direction: column;
        margin: 50px 0 50px 50px;
        padding: 20px;
    }

    footer ul li {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 1200px) {
    footer ul {
        margin: 50px 0 50px 600px;
        padding: 20px 200px 20px 250px;
    }
}